[Interface]
## This Desktop/client's private key ##
PrivateKey = wCIoHqFsnFOGVlmQnWzaeTrJWigx175ZM0sDLQU1lFM=
 
## Client ip address ##
Address = 192.168.5.21/24

 
[Peer]
## Ubuntu 20.04 server public key ##
PublicKey = 76jJvGN3M+g7yduhwGNxQQI8qGxv7am2c24lvzGSoy0=

## set ACL ##
# AllowedIPs = 192.168.6.0/16
AllowedIPs = 172.16.0.0/16, 192.168.0.0/16

## Your Ubuntu 20.04 LTS server's public IPv4/IPv6 address and port ##
Endpoint = 172.16.13.130:7777
 
##  Key connection alive ##
PersistentKeepalive = 15
