[Interface]
Address = {{ wg2_private_ip }}
ListenPort = {{ wg2_listening_port }}
PrivateKey = {{ wg2_private_key }}
PostUp= sysctl net.ipv4.ip_forward=1; iptables -A FORWARD -i {{ wg2_wg_interface }}  -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ wg2_inner_net }} -j MASQUERADE
PostDown =  sysctl net.ipv4.ip_forward=0; iptables -D FORWARD -i {{ wg2_wg_interface }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ wg2_inner_net }} -j MASQUERADE

[Peer]
PublicKey = {{ wg1_public_key }} 
AllowedIPs =  {{ wg1_allowed_ips }} 
Endpoint = {{ wg1_public_ip }}
